{% extends 'base.html' %}

{% block title %}Açıklamalarım{% endblock %}

{% block content %}
<h2>Açıklamalarım</h2>
<div>
    {% for explanation in page_obj %}
        <h2 class="text-2xl font-semibold my-5">
        <a href="{% url 'topic_detail' explanation.topic.id %}" class="text-blue-600 hover:text-blue-800">{{ explanation.topic.title }}</a>
    </h2>
    <p class="text-gray-600 mb-4">Oluşturulma: {{ explanation.created_at }} {% if explanation.updated_at != explanation.created_at %}- Güncellenme: {{ explanation.updated_at }}{% endif %}</p>

        {% include 'explanation_card.html' %}
    {% endfor %}
</div>

{% include 'pagination.html' with page_obj=page_obj %}
{% endblock %}
