{% load static %}
<footer class="bg-gray-800 text-white py-6">
    <div class="container mx-auto text-center">
        <p class="text-sm mb-4">&copy; 2024 Sokak Ağzı. Tüm Hakları Saklıdır.</p>
        <p class="mb-4">cagatayuresin@gmail.com</p>
        <div class="mb-4">
            <a href="https://github.com/cagatayuresin" class="mx-2 text-gray-400 hover:text-gray-100"><i class="fab fa-github"></i></a>
            <a href="https://x.com/cagatayuresin" class="mx-2 text-gray-400 hover:text-gray-100"><i class="fab fa-twitter"></i></a>
            <a href="https://instagram.com/cagatayuresin" class="mx-2 text-gray-400 hover:text-gray-100"><i class="fab fa-instagram"></i></a>
            <a href="https://linkedin.com/in/cagatayuresin" class="mx-2 text-gray-400 hover:text-gray-100"><i class="fab fa-linkedin"></i></a>
        </div>
        <div>
            <img src="{% static 'img/cagatayuresin-logo.svg' %}" alt="Çağatay ÜRESİN Logo" class="mx-auto w-24">
        </div>
    </div>
</footer>