<div class="flex justify-center items-center my-10">
    <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50" aria-label="First">
                <i class="fas fa-angle-double-left"></i> <span class="ml-1">ilk</span>
            </a>
            <a href="?page={{ page_obj.previous_page_number }}" class="relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50" aria-label="Previous">
                <i class="fas fa-angle-left"></i> <span class="ml-1">önceki</span>
            </a>
        {% endif %}

        <span class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700">
            Sayfa {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50" aria-label="Next">
                <span class="mr-1">sonraki</span> <i class="fas fa-angle-right"></i>
            </a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50" aria-label="Last">
                <span class="mr-1">son</span> <i class="fas fa-angle-double-right"></i>
            </a>
        {% endif %}
    </nav>
</div>
