{% extends 'base.html' %}
{% block title %}Yeni Şifre Belirleme{% endblock %}
{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-md">
        <h2 class="text-2xl font-bold mb-6 text-gray-900 text-center">Yeni Şifre Belirleme</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label for="new_password1" class="block text-gray-700 text-sm font-bold mb-2">Yeni Şifre</label>
                <input type="password" id="new_password1" name="new_password1" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="mb-4">
                <label for="new_password2" class="block text-gray-700 text-sm font-bold mb-2">Yeni Şifre (Tekrar)</label>
                <input type="password" id="new_password2" name="new_password2" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="flex items-center justify-between">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Şifreyi Güncelle</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
