<div class="bg-white shadow-md rounded-lg p-4 mb-6">
    <h2 class="text-2xl font-semibold mb-2">
        <a href="{% url 'topic_detail' topic.id %}" class="text-blue-600 hover:text-blue-800">{{ topic.title }}</a>
    </h2>
    <p class="text-gray-600 mb-4">Oluşturulma: {{ topic.created_at }} - Güncellenme: {{ topic.updated_at }}</p>
    <div>
        {% if topic.explanations.all %}
            {% with best_explanation=topic.explanations.all|first %}
                <div data-id="{{ best_explanation.id }}">
                    {% include 'explanation_card.html' with explanation=best_explanation user_votes=user_votes user_favorites=user_favorites %}
                </div>
            {% endwith %}
        {% else %}
            <p class="text-gray-600">Henüz açıklama yok.</p>
        {% endif %}
    </div>
</div>
